*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}
header{
    background: rgb(155,151,151);
    background-image: url('images/donation10.jpg');background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 80vh;position: relative;
}
.banner-center-contant{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.banner-center-contant h2{
    font-weight: 700px;
    font-size: 65px;
    color: #ffffff;
    padding-bottom: 30px;
}
.primary-button{
    padding: 16px 20px;
    background: #ff59ff;
    border-radius: 5px;
    color:white;
    font-weight: 600px;font-size: 20px;
    border: none;
}